label {
  font: var(--font-body-md);
  color: var(--text-body);
  display: block;
}

fieldset {
  border: none;
  display: grid;
  gap: 1rem;
}

.headline-main {
  gap: .75rem;
  margin-top: 2.5rem;
}
