

.about-event {
  border: none;
  display: grid;
  gap: 1rem;
}

.headline-main {
  gap: .75rem;
  margin-top: 2.5rem;
}

.customization {
  max-width: 35rem;
  border: none;
  
  gap: 1rem;
}

.input-location {
  flex: 0 0 50%;
} 