label {
  font: var(--font-body-md);
  color: var(--text-body);
  display: block;
}

.about-event {
  border: none;
  display: grid;
  gap: 1rem;
}

.headline-main {
  gap: .75rem;
  margin-top: 2.5rem;
}

.customization {
  border: none;
  padding-bottom: 3rem;
  gap: 1rem;
}

.input-location {
  flex: 0 0 50%;
} 