input[type="text"],
input[type="datetime-local"],
input[type="tel"],
input[type="email"]
 {
  appearance: none;
  height: 3rem;
  width: 100%;
  border-radius: .5rem;
  border: 2px solid transparent; /*ajuda a evitar não mexer o layout, tramparente para nao aparecer e ficar com base*/
  outline: 1px solid var(--input-stroke); /*outiline em vez da boder pra não mexer o layout devido ao amento no px da bordar */
  background-color: var(--input-base);
  margin-top: 0.75rem;
  padding-block: .8125rem;
  padding-inline: 1rem;
}

.focus:focus {
  outline: 1px solid var(--brand-light) ;
  }

input[placeholder] {
  font: var(--font-body-md);
  color: var(--input-placeholder);
}

.event-date {
  text-transform: uppercase;
}

.icon-calendar path {
  fill:var(--input-placeholder);
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator { /*seletor que muda o icone do calendário */
  opacity: 0;
}
