fieldset {
  border: none;
}

.contact {
  margin-bottom: 3rem;
}

 .contact-name {
  margin-top: 1.5rem ;

  & input:invalid {
  border: .125rem solid var(--danger);
}

  & :valid.name-error {
    display: none;
  }
} 

.contact-email-fone {
  max-width: 17rem;
  margin-top: 1.5rem ;
}

.icon-contact {
  fill: var(--input-placeholder);
  width: 1.5rem;
  height: 1.5rem;
  justify-content: space-between;
}

.email-fone {
  justify-content: space-between;
}

.name-error {
  margin-top:.5rem ;
  gap: .5rem;
}

.line-divider {
  border-bottom: 1px solid var(--input-stroke);
}
