
body {
  background-color: var(--shape-background) ; 

}.page-grid {
  display: grid;
  grid-template-columns: 35.9375% 64.0625%;
  height: 100vh;
  overflow: hidden;

}

aside {
  margin-block: 20px;
  margin-left: 20px;
}

main {
  overflow: auto; /*para aparecer a rolagem no main*/
  margin: 20px; 
} 

aside, main {
  background-color: var(--shape-body);
  border-radius: 12px;
} 

.icon-calendar path {
  fill:var(--input-placeholder);
  height: 1rem;
  width: 1rem;
}

.paintbrush-vertical path {
  fill:var(--input-placeholder);
  height: 1rem;
  width: 1rem;
}

