
.radio-color {
 margin-top:  1.5rem;
 margin-bottom: 1rem;;
}

.radio-collor__container {
  display: flex;
  margin-top: 1rem;
  max-width: 100%;
  justify-content: space-between;
}

.radio-collor__item {
  width: 2.125rem;
  height: 2.125rem ;
  border-radius: 50%;
  border: 6px solid var(--shape-button);
  position: relative;
  cursor: pointer;

  &:hover {
    border: 6px solid var(--shape-hover);
  }
}

.radio-collor__inner:has(input:checked) {
  width: 2.125rem;
  height: 2.125rem ;
  border-radius: 50%;
  border: 2px solid var(--brand-light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}  

.radio-collor__input {
  width: 2.125rem;
  height: 2.125rem ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;  
}  

.brand-light {
  background-color: var(--brand-light);
}

.navy {
  background-color: var(--navy);
}

.purple {
  background-color: var(--purple);
}

.fuschia {
  background-color: var(--fuschia);
}

.pink {
  background-color: var(--pink);
}

.danger {
  background-color: var(--danger);
}

.orange {
  background-color: var(--orange);
}

.yellow {
  background-color: var(--yellow);
}

.lime {
  background-color: var(--lime);
}

.green {
  background-color: var(--green);
}

.cyan {
  background-color: var(--cyan);
}


