textarea {
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 2px solid transparent; /*ajuda a evitar não mexer o layout, tramparente para nao aparecer e ficar com base*/
  outline: 1px solid var(--input-stroke); /*outiline em vez da boder pra não mexer o layout devido ao amento no px da bordar */
  background-color: var(--input-base);
  margin-top: 0.75rem;
  padding-block: .8125rem;
  padding-inline: 1rem;
}

textarea[placeholder] {
  font: var(--font-body-md);
  color: var(--input-placeholder);
}